@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  margin: 0;
  padding: 0;

  svg {
    margin: 0;
    padding: 0;
    animation: spin infinite 1s linear;
  }
  }
