.grafico{
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  // margin: 10rem auto
  // height: 100px;
  // width: 100px;

  canvas {
    height: 20rem;
    width: 50rem;
  }
}

.tabsDates{
  display: flex;
  background-color: var(--gold);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 6px 5px 3px rgba(0,0,0,0.2);
  
  box-shadow: 1px 6px 5px 3px rgba(0,0,0,0.2);
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;

  .label{
    font-size: 1.75rem;
    color: white;
    margin: 0 0 0 2rem;
  }

  .inputDates {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;
    width: 8%;
    margin: 0 0 0 1rem;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 4px 2px #ffbf00 inset;
    }
    &:hover{
      box-shadow: 0px 0px 4px 2px #ffbf00 inset;
      outline: none;
    }
    
  }
}


.tabsButton{
  display: flex;
  background-color: var(--gold);
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 1px 6px 5px 3px rgba(0,0,0,0.2);
  
  box-shadow: 1px 6px 5px 3px rgba(0,0,0,0.2);
  width: 100%;
  padding: 1rem;

  .btn-primary {
    border: none;
    background: none;
    color: var(--background);
    font-size: 32px;
    font-weight: bold;
    position: relative;
    width: 30%;
    height: 100%;
  
    &:before {
      content: "";
      position: absolute;
      visibility: hidden;
      width: 100%;
      height: 0.125rem;
      bottom: -0.5rem;
      left: 0;
      background: white;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    &.active:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .inputDate {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    outline: none;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 4px 2px #ffbf00 inset;
    }
    &:hover{
      box-shadow: 0px 0px 4px 2px #ffbf00 inset;
      outline: none;
    }
    
  }
}