.section-data-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  padding: 5rem 2rem;
}





.wrapper-data-table {

  
  background: white;
  padding: 0.5rem;
  margin-top: 1rem;
}