.procedureResume {
    border: 1px dotted var(--gold);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;

    table {
        width: fit-content;
        
        tr {
            td {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;

                p {
                    display: inline-block;
                    font-size: 1.25rem;
                    font-weight: bold;
                    color: var(--gold);
                    margin-bottom: 1rem;
                }

                span {
                    display: inline-block;
                    font-size: 1.25rem;
                    font-weight: bold;
                    color: #fff;
                    margin-bottom: 1rem;
                }
            }
        }
    }


}