.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    height: 100%;

    .content {
    background: #444;
    display: flex;
    flex: 1;
    margin: 7rem 0 0 5rem;
    width: 100%;
    overflow:hidden;    
    flex-direction: column;
    }
}

// .disableSection {
//     opacity: 0.5;
// }