.calendarioModal {
  background-color: var(--gold);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;


  &.expand{
    display: none;
  }
 
  .react-calendar {
    width: 50vw;
    height: auto;
    border: none;
    
    .react-calendar__navigation__arrow{
      display: none;

    }
 
  .react-calendar__navigation {
    background-color: var(--gold);
  }

  .react-calendar__navigation button[disabled] {
    display: none;
  }
  .react-calendar__navigation button:enabled:hover{
    background-color:#ffbf00;
  }
  .react-calendar__month-view__weekdays {
    background-color: var(--gold);
    border: 1px solid #444;
  }
  .react-calendar__tile:disabled {
    background-color: #444;
    border-color: var(--gold);
  }
  .react-calendar__tile:enabled:hover  {
    background-color: #ffbf00;
  }
  .react-calendar__tile--active{
    background-color: #ffbf00;
    color: black;
  }
  }
}

.selectDays {
  p {
    color: #444;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0.25rem 0;
  }
  .selectDaysContainerItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    .month-paragrafo{
      color: #444;
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      padding: 0.25rem 0;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: var(--gold);


      }

    }
    & svg{
      width: 1rem;
      height: 1rem;
      fill: #333;
      cursor: pointer;
      margin: 0;

      &:hover {
        fill: red;
      }
    }
  }
}





.btn-container {  
  padding: 0.5rem 0;  
}
.flexEnd{
  justify-content: flex-end;
}
.month-paragrafo {
  text-transform: capitalize;
}
.day-selected{
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 0.25rem 0;
  font-size: 1.5rem;
  gap: 0.5rem;
  max-width: 500px;
  .day-paragrafo {
    padding: 0.5rem;
    margin: 0;
    min-width: 2.5rem;
    text-align: center;
    color: #fff;
    background-color: var(--gold);
    border-radius: 10px;
    width: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &:hover {
      background-color: #ffbf00;

    }

  }
}

.footer-agenda{
  padding: 0.5rem 0;
}