.meusAgendamentos {
    color: #fff;
    margin: 0 auto;
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;               
    top: 50%;                         
    transform: translate(10%, -50%);
  
  
      table {
          width: 80%;
          border-collapse: collapse;
  
          thead {
            padding: 10rem;
              // margin-bottom: 1rem;
  
              th {
                  text-align: center;
                  // padding: 10rem;
                  // font-weight: 700;
                  padding: 0 2rem;
                  font-size: 1.1rem;
                  margin: 1rem;
                  background-color: #c59a18;
                //   border: 2px solid black
              }
          }
  
          tbody {
              tr:hover {opacity: 0.8;}
              tr:nth-child(even){background-color: #decf78;}
              tr {
                  background: #fff;
                  color: black;
                //   border: 2px solid black;
                  td {
                      padding: 0.25rem 0.5rem;
                      font-size: 1.25rem;
                      text-align: center;
  
                      input {
                          background: #fff;
                          padding: 0.5rem;
                          height: 1.25rem;
                          width: 1.25rem;
                      }
                      
                  }
              }
          }
          
  
      }
  }
  
  