
  .container_cadastro{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: visible;
  }
  
  .div_cadastro {
    width: 100vw;
    height: 100vh;
    background-color: #444;
  }

  .title_cadastro {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 1.5rem auto 0;
    margin-block-end: 5%;
    text-align: center;
  
  }

  .cadastro {
    display: flex;
    width: 100vw;
    height: 70vh;
    .cadastro_1 {
        width: 80vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        .cadastro_field {
            width: 50%;
            background: #FFFFFF;
            margin: 1.5rem;
        }
    }

    .cadastro_2 {
        width: 80vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: right;
        .cadastro_field {
            width: 50%;
            background: #FFFFFF;
            margin: 1rem;
        }
        .escolhe_sexo_index {
            color: #FFFFFF;
            font-size: 1.25rem;
        }
        .escolhe_sexo {
            color:black;
            font-size: 1.25rem;
        }
        .salvar_button {
            width: 50%;
            padding: 1rem 0;
            margin: 1.5rem 0;
            }
    }

}
    

  @media (max-width:720px) {
    .container_cadastro {
      display: block;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow-y: scroll;
      background: #444;

      .cadastro {
        display: block;
      }
      .cadastro_1 {
        width: 100vw;
        margin-inline-end: 0%;
      }
      .cadastro_2 {
        height: 50vh;
        width: 100vw;
        float:none;
      }
      .salvar_button {
        button {
          font-size: 1rem;
        }
      }
    }
  } 
  
  
  