html,
body,
#root,
.wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  // --pf-global--FontFamily--sans-serif: RedHatText,Overpass,overpass,helvetica,arial,sans-serif;
}

[role="main"] {
  padding-top: 4rem;
  padding-left: 4rem;
}

.main {
  transition: width 1s, margin 1s, flex 1s;
}

.main-expanded {
  margin-left: 50px !important;
  margin-right: auto;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.25) /*dim the background*/
}

.loader {
  position: absolute;
  left: 50%;
  top: 30%;
}

.hide-overlay {
  display: none;
}

.col-md-3>.card{
  min-height: 350px;
  max-width: 350px;
}