.loginContainer {
  
  width: 100%;
  background-color: #201e21;
  height: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: block;

  }

  .imageSideContainer {
  
  
   
  @media screen and (max-width: 768px) {
    padding: 0;

    img {
      max-width: 200px;
    }

  }

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
